# POSTGRES
POSTGRES_DB=csv_importer
POSTGRES_USER=csv
POSTGRES_PW=csv
DATABASE_URL=postgres://csv:csv_local_dev_password@127.0.0.1:54321/csv_importer

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# API
API_HOST=localhost
API_PORT=3010
API_URL=localhost:3010

# CONFIG
STORAGE_DRIVER=local
STORAGE_ROOT=YOUR_PATH
SIGNING_KEY=GENERATE_YOUR_OWN_KEY ## Hint: openssl rand -hex 32