# POSTGRES
POSTGRES_DB=csv_importer
POSTGRES_USER=csv
POSTGRES_PW=csv

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# API
API_PORT=3000
DATABASE_URL=postgres://csv:csv_local_dev_password@127.0.0.1:54321/csv_importer
